<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      QR Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  
  <ion-segment [(ngModel)]="segment" mode="ios" >
    <ion-segment-button value="scan">
      <ion-label>Escanear QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generar QR</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <!-- Show scan panel -->
  <div class="segment-scan" *ngIf="segment === 'scan'">
    <div>
      <img src="../../assets/images/qr-code.gif"  alt="">
    </div>
    <p>Escanéa un código QR</p>
    <ion-row>
      <ion-col size="5">
        <ion-button class="submit" expand="block">
          Escanear
          <ion-icon slot="end" name="scan-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button class="submit" expand="block">
          Seleccionar
          <ion-icon slot="end" name="image-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <!-- Show generate QR panel -->
  <div class="segment" *ngIf="segment === 'generate'">
      <div id="qrScreenshot" class="qr-container">
        <div class="qr-background-box">
          <div class="qr-radius">
            <qr-code [value]="qrText" size="240" errorCorrectionLevel="M"></qr-code>
            <img *ngIf="!qrText" class="qr-gif" src="../../assets/images/text-box.gif"  alt="">
          </div>
        </div>
        <div *ngIf="qrText" class="text-container">
          {{qrText}}
        </div>
        <div *ngIf="!qrText" class="text-container">
          Escribe un texto para convertirlo a QR
        </div>
      </div>
      <ion-textarea
        label="Escribe aquí tu texto"
        labelPlacement="stacked"
        fill="outline"
        [(ngModel)]="qrText"
        rows="2"
        [autoGrow]="true"
      ></ion-textarea>
      <ion-button (click)="captureScreen()" *ngIf="qrText" color="secondary" expand="block">
        Compartir
        <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>
  </div>
</ion-content>
